.login {
  display: flex;
  justify-content: center;
  padding-top: mq-px2em(25px);
  position:fixed;
  min-width: 100%;
  min-height: 100%;

  .login__box {
    width: mq-px2em(330px);
    .forgot {
      font-weight: 700;
    }
    .have-account {
      font-weight: 700;
    }
    .form-control {
      background: #f3f3f3;
      border: none;
      color: #666;
      padding: 0 mq-px2em(16px);
      box-shadow: none;
      height: mq-px2em(46px);
      font-size: mq-px2em(15px);
      font-weight: 500;
    }
    .btn {
      font-size: mq-px2em(16px);
      font-weight: 700;
      border-radius: 0px;
    }

    h5.or {
      position: relative;
      text-align: center;
    }

    h5.or span {
      background: #fff;
      padding: 0 mq-px2em(15px);
      position: relative;
      z-index: 1;
    }

    h5.or:before {
      background: #ddd;
      content: "";
      display: block;
      height: mq-px2em(1px);
      position: absolute;
      top: 50%;
      width: 100%;
    }

    h5.or:before {
      left: 0;
    }

    .error {
      color: red;
    }
  }

  .bigger--box {
    max-width: mq-px2em(360px);
    width: 100%;
  }
}