.brand-logo {
  font-family: 'Pacifico', cursive;
  font-size: mq-px2em(25px);
  color: black !important;
  letter-spacing:1px;
}

.brand-logo-white {
  font-family: 'Pacifico', cursive;
  font-size: mq-px2em(22px);
  color: white !important;
  letter-spacing:1px;
}