body {
  padding-top:80px;
  min-width:970px;
  font-family: 'Open Sans', sans-serif;
}

body.auth {
  min-width:100%;
  padding:0px;
}

.view {
  transition: all .5s ease;
}

.fade-enter,.fade-leave {
  opacity: 0;
}

[v-cloak]{
  display:none;
}

.navbar-default{
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  .navbar-brand {
    color:#fff;
  }
  .navbar-brand:focus,
  .navbar-brand:hover {
    color:#fff;
  }
  .navbar-nav > li > a
  {
      color: #fff;
  }

  .navbar-nav > li > a:focus,
  .navbar-nav > li > a:hover
  {
      color: #fff;
  }
}

.btn {
  border-radius:0px;
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.form-control{
  border-radius:0px;
}

.no-float{
  float:none;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 5px 0;
}

.modal-default-button {
  float: right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter, .modal-leave {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-large {
  width:630px;
}

.updatecomposer {
  textarea {
    resize:none;
    top:7px;
    position:relative;
    margin-bottom:25px;
  }

  .countdown {
    float:right;
    margin-top:10px;
    margin-right:10px;
    font-size:15px;
    font-weight:300;
  }
  .form-actions {
    padding-top:10px;
    padding-bottom:10px;
    padding-left:14px;
    margin-top:0px;
    margin-bottom:4px;
    border:1px solid #f5f5f5;
    background:#f5f5f5;

    .pull-left {
      p {
        margin-left: 100px;
        position: absolute;
        line-height: 25px;
        top: 15px;
        left: 70px;
        font-family: 'Open Sans', sans-serif;
      }
    }

    #fileselector {
      margin:10px;
    }

    .btn {
      margin-right:5px;
    }

    #updatefiles {
      display:none;
    }
  }
}

.thumbnail{
  cursor:default;
}

a.thumbnail:hover,
a.thumbnail:focus {
  border-color: #ddd;
}


.remove-btn {
  position: absolute;
  top: -9px;
  background: #323b43;
  color: white;
  border-radius: 13px;
  width: 18px;
  height: 18px;
  text-align: center;
  right: 6px;
  line-height: 16px;
  display: block;
  font-size: 15px;
  z-index: 300;
  cursor: pointer;
  background-clip: padding-box;
}

.remove-btn:hover,
.remove-btn:focus {
  text-decoration:none;
  color:white;
}
