.login-wrapper{
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height:100vh;
  flex-direction:column;
  display:flex;
  align-items:center;
  justify-content: center;
  padding:0;
  p{
    color:white;
    a{
      color:white;
      height:1.2rem;
      text-decoration:none;
    }
    a:hover,
    a:focus{
      color:white;
      border-bottom:1px dotted #fff;
    }
  }

  form {
    background:#1da1f2;
    width:400px;
    padding: 32px;
    border-radius:4px;
    color:white;
    h2{
      margin-top:10px;
      small {
        color:white;
        font-size:14px;
      }
    }
    h3{
      margin-top:10px;
    }
    a {
      color:white;
      text-decoration:none;
      height:1.2rem;
    }
    a:hover,
    a:focus
    {
      border-bottom:1px dotted #fff;
    }
    .login-btn{
      background:#fff;
      border:0px;
      border-radius:4px;
      color:#1da1f2;
    }

    .form-control::placeholder{
      color:white;
    }
    .form-control{
      color:white;
      background:none;
      box-shadow:none;
      border-top:0px;
      border-left:0px;
      border-right:0px;
      border-bottom:1px solid rgba(255,255,255,0.5);
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .login-wrapper {
    form {
      width:350px;
    }
  }
}
